name: Update database

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - flake.nix
      - flake.lock

jobs:
  generate-db:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        system: ['x86_64-linux', 'aarch64-linux', 'x86_64-darwin', 'aarch64-darwin']
        stable: ["stable", "unstable"]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31

      - name: Generate database
        run: |
          nix run .#generate-${{ matrix.system }}-${{ matrix.stable }}-index

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.system }}-${{ matrix.stable }}-index
          path: pkgs/${{ matrix.system }}-${{ matrix.stable }}-index

  commit:
    runs-on: ubuntu-latest
    needs: generate-db
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Pull changes
        run: |
          git pull
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: pkgs-new
      - name: Move files
        run: |
          mkdir -p ./pkgs
          mv -f --backup=never ./pkgs-new/* ./pkgs
          rm -r ./pkgs-new
          rm -r ./pkgs/*~
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_author: GitHub Actions <actions@github.com>
          commit_message: |
            chore: automatically update database
